Repository lab-antwerp-1/group1-HackYourFuture, pull requests merged in 2021-11, with the labels that each got.

#48 About us wireframe
  assets/about-us-wireframe.jpg
  planning/about-us-wireframe.md
Labels: documentation

#45 Contact us wireframe
  assets/contact-wireframe.jpg
  planning/contact-wireframe.md
Labels: documentation

#47 add logo
  assets/hyfb-logo.png
  assets/logo-lowcase.png
Labels: Must Have

#43 Applicants wireframe
  assets/applicants-wireframe-resized.jpg
  assets/applicants-wireframe.jpg
  planning/applicats-wireframe.md
Labels: documentation

#55 updating development strategy
  planning/development-strategy.md
Labels: documentation

#57 Created banner for homepage
  assets/banner-2.jpg
  index.html
  styles/style.css
Labels: Must Have, html, css

#56 Create footer
  .cspell.json
  assets/social-media/facebook-full-logo.png
  assets/social-media/facebook-logo.png
  assets/social-media/github-full-logo.png
  assets/social-media/github-logo.png
  assets/social-media/linkedin-full-logo.png
  assets/social-media/linkedin-logo.png
  assets/social-media/twitter-full-logo.png
  assets/social-media/twitter-logo.png
  index.html
  styles/style.css
Labels: Must Have, html, css

#62 create volunteer page wireframe
  assets/volunteer-wireframe.png
  planning/volunteer-wireframe.md
Labels: documentation

#61 update readme
  README.md
  planning/README.md
Labels: documentation

#59 update footer links
  index.html
  styles/style.css
Labels: bug, html, css

#63 editing webpages logo
  index.html
  pages/about-us.html
  pages/applicants.html
  pages/contact-us.html
  pages/volunteers.html
  styles/style.css
Labels: html, css

#66 Update development-strategy.md
  planning/development-strategy.md
Labels: documentation

#65 3 home program text
  index.html
  planning/README.md
  styles/style.css
Labels: Must Have, html, css

#69 add footer to all pages
  index.html
  pages/about-us.html
  pages/applicants.html
  pages/contact-us.html
  pages/page1.html
  pages/volunteers.html
  styles/style.css
Labels: html, css

#71 adding texts to volunteer page
  pages/volunteers.html
  styles/style.css
Labels: html, css

#70 Create contact us form
  pages/contact-us.html
  styles/style.css
Labels: html, css

#72 add contact us text
  pages/contact-us.html
  styles/style.css
Labels: html, css

#74 Update style.css
  styles/style.css
Labels: css

#76 editing logo link
  pages/applicants.html
  pages/volunteers.html
Labels: html

#77 21 partner
  assets/partners/artevelde.png
  assets/partners/bruxelles-formation.png
  assets/partners/bruxelles.jpg
  assets/partners/dcd.png
  assets/partners/digital-belgium.jpg
  assets/partners/duo.png
  assets/partners/member.png
  assets/partners/microsoft.jpg
  assets/partners/open-knowledge.jpg
  assets/partners/open-recognition.png
  assets/partners/print-simple.jpg
  assets/partners/ux-antwerp.png
  index.html
  styles/style.css
Labels: html, css

#80 Success stories title
  index.html
  styles/style.css
Labels: html, css

#81 adding donation button
  index.html
  pages/about-us.html
  pages/applicants.html
  pages/contact-us.html
  pages/volunteers.html
  styles/style.css
Labels: html, css

#82 add images for contact us page
  assets/contact-us-bg.jpg
  assets/contact-us.jpg
  pages/contact-us.html
  pages/volunteers.html
  styles/style.css
Labels: html, css

#83 adding volunteers buttons
  pages/volunteers.html
  styles/style.css
Labels: html, css

#85 14 about us team
  assets/envelope.svg
  assets/linkedin.svg
  assets/person-fill.svg
  assets/person.svg
  assets/placeholder.png
  assets/twitter.svg
  package-lock.json
  package.json
  pages/about-us.html
  styles/style.css
Labels: Must Have, html, css

#87 fixing partner logo's links
  index.html
Labels: html

#90 create retrospective.md
  pages/about-us.html
  planning/retrospective.md
Labels: documentation
